@font-face {
    font-family: "Adega_serif_bold";
    src: local(Adega_serif), url(fonts/adega_serif/ADega\ Serif\ Bold.otf);
}

body {
    margin: 0;
}

#head {
    font-family: Adega_serif_bold;
    font-size: 3em;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #2a98f7;
    background: #71bb3d;
}

#logo {
    margin-left: 15px;
    width: 75px;
    height: 75px;
}

#navbar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar a {
    color: #2a98f7;
    text-decoration: none;
    padding-right: 15%;
}

#carouselSlides {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: ;
}